*{
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
}
#wrapper {
    display: flex;
    justify-content: center;
}

#container {
    display: flex;
    justify-content: space-between;
    width: 1440px;
}

#center {
    width: 1200px;
    /*background-color: bisque;*/
}

#right {
    width: 160px;
    /*background-color: aqua;*/
}

#left {
    width: 145px;
    height: 2650px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#left_above {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#below {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.item {
    width: 92px;
    margin-top: 28px;
}

#setting {
    margin-top: 36px;
}
/*----------------------------------------------------------------*/
/*----------------------------------------------------------------*/
/*----------------------------------------------------------------*/
.center1{
    display: flex;
    justify-content: space-around;
    margin-top: 32px;
    margin-left: -70px;
}
.center1-all{
    display: flex;
    margin-left: -37px;
    color: rgb(117,118,121);
}
.center1-all-1 {
    margin-left: 0px;
    display: block;
    color: rgb(3,190,214);
}
.center1-all-2 {
    display: flex;
    margin-left: 27px;
}
.center1-all-3 {
    display: flex;
    margin-left: 27px;
}
.center1-all-4 {
    display: flex;
    margin-left: 27px;
}
.center1-all-5 {
    display: flex;
    margin-left: 27px;
}
.center-n{
    margin-left: 40px;
    margin-top: -15px;
    padding: 1px 10px;
    font-size: 55px;
    border-radius: 30px;
    color: rgb(3,190,214);
}
.center1-all-input{
    border-radius: 10px;
    background-color: aliceblue;
}
.center1-all-input-img{
    width: 18px;
    align-items: center;
}
.center1-all-input-search{
    border: white;
}

/********************************/
.center2 {
    display: flex;
    margin-top: 68px;
}
.center2-1{
    color: rgb(117,118,121);
}
.center2-2{
    margin-left: 5px;
}
/********************************/
.center3{
    display: flex;
    margin-top: 18px;
    max-width: 330px;
    max-height: 40px;
}
.center3 h1{
    font-size: 53px;
}
/********************************/
.center-star{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.center-star-1{
    display: flex;
    justify-content: center;
    height: 16px;
}
.center-star-1-1{
    display: flex;
    justify-content: center;
    margin-left: 10px;
    font-size: 13px;
    color:rgb(117,118,121);
}
.center-star-2{
    display: flex;
    margin-top: 0px;
    margin-left: -40px;
    margin-right: 0px;
}
.center-star-2-share{
    display: flex;
    margin-right: 40px;
}
.center-star-2-share img{
    width: 15px;
    height: 15px;
    margin-right: 5px;
}
.center-star-2-save{
    display: flex;

}
.center-star-2-save img{
    width: 15px;
    height: 15px;
    margin-right: 5px;
}
/* =================================================================*/
.center-img{
    display: flex;
}
.center-img-all{
    display: flex;
}
.center-img-all-right{
    margin-left: 50px;
    margin-right: -40px;
}
.center-img-all-right-1{
    display: flex;
}
.center-img-all-right-2{
    display: flex;
}
/********************************/
.center4{
    display: flex;
    justify-content: space-between;
}
.center4-1{
    margin-top: 46px;
    width: 860px;
}
.center4-1 p{
    margin-top: 16px;
}
/*****/
.center4-1-img{
    display: flex;
    margin-top: 35px;
}
.center4-1-img-1{
    display: block;
    margin-right: 30px;
}
.center4-1-img-1-1{
    display: flex;
    align-items: center;
    margin-top: 0px;
}
.center4-1-img-1-2{
    display: flex;
    align-items: center;
    margin-top: 12px;
}
.center4-1-img-1-3{
    display: flex;
    align-items: center;
    margin-top: 12px;
}
/**/
.center4-1-img-2{
    display: block;
}
.center4-1-img-2-1{
    display: flex;
    align-items: center;
}
.center4-1-img-2-2{
    display: flex;
    align-items: center;
    margin-top: 12px;
}
.center4-1-img-2-3{
    display: flex;
    align-items: center;
    margin-top: 12px;
}

.center4-2{
    width: 305px;
}
.center4-2 h1{
    text-align: end;
}
.center4-2-1 {
    width: 302px;
    height: 40px;
    margin-top: 18px;
    border-style: none;
}
.center4-2-2{
    width: 302px;
    height: 40px;
    border-style: none;
}
.center4-2-3{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}
.center4-2-4{ 
    display:inline-block;
    width: 302px;
    height: 45px;
    border-radius: 5px;
    background-color: rgb(3,190,214);
    color: aliceblue;
    text-align: center;
}
.center4-2-4-s{
    width: 302px;
    height: 25px;
    border-radius: 5px;
    background-color: rgb(3,190,214);
    color: aliceblue;
    text-align: center;
}
.center4-2-4-c{
    height: 40px;
    width: 302px;
    margin-top: 5px;
    display: flex;
    color: rgb(3,190,214);
    border: solid 1px rgb(3,190,214);
    border-radius: 10px;
}
.center4-2-4-c-1{
   display: flex;
   align-items: center;
   margin-left: 90px;
}

/**----------------------------------------------------------------*/
.center-5{
    margin-top: 120px;
    display: flex;
    justify-content: space-between;
}
.center-5-1{
    display: flex;
    text-align: center;
    align-items: center;
}
.center-5-2{
    font-size: 15px;
    color: rgb(117,118,121);
}
.center-mess{
    display: flex;
    justify-content: space-between;
}
.center-mess p{
    margin-top: 20px;
    width: 500px;
    font-size: 14px;
    color: rgb(117,118,121);
}
.center-6{
    display: block;
    justify-content:space-around;
    margin-left: 0px;
}
.center-6-1{
    display: flex;
    margin-top: 35px;
    width: 700px;
}
.center-6-1-p{
    margin-left: 5px;
    margin-top: 5px;
}
.center-6-1 p{
    margin-left: 5px;
}
.center-6-1-p1{
    display: flex;
    align-items: center;
    margin-top: -40px;
    font-size: 10px;
    color: rgb(117,118,121);
}
.center-6-1-p1 p{
    font-size: 10px;
}
.center-7{
    margin-left: 0px;
    margin-top: 97px;
}
.center-7-1{
    display: flex;
    justify-content: space-between;
}
.center-7-1 p{
    color: rgb(117,118,121);
    font-size: 14px;
}
.center-7-2{
    margin-top: 32px;
    display: flex;
}
.center-7-2-1{
    margin-left: 0px;
    display: block;
    width: 250px;
    margin-left: 10px;
    margin-right: 50px;
}
.center-7-2-1-img{
    align-items: center;
    margin-left: -15px;
    
}
.center-7-2-1 h3{
    display: flex;
    justify-content: space-between;
}
.center-7-2-1-p{
    margin-top: 10px;
    color: rgb(3,190,214);
}
.center-7-2-1-a {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    height: 15px;
}
.center-7-2-1-a p{
    color: rgb(117,118,121);
    font-size: 10px;
}
.center-8{
    display: block;
    justify-content: center;
    text-align: center;

    margin-top: 180px;
}
.center-8-1{
    text-align: center;
}
.center-8-2{
    margin-top: 37px;
}
.center-8-3{
    display:flex ;
}
.center-8-3-1{
    display: flex;
    align-items: center;
    text-align: justify;
    margin-left: 450px;
    margin-top: 15px;
}
.center-8-3-1 img{
    align-items: center;
    margin-right: 10px;
    width: 16px;
    height: 16px;
}
.center-8-3-1 input{
    border:solid 0px white;
    color: rgb(117,118,121);
}
.center-8-3-2 {
    align-items: center;
    text-align: center;
    margin-left: 20px;
    border-top-right-radius: 5px;
    border-end-end-radius: 5px;
    width: 115px;
    height: 38px;
    background-color: rgb(3,190,214);
    color: azure;
}
.center-8-3-2 p{
    margin-top: 10px;
}
.center-8-4{
    margin-left: 240px;
    width: 750px;
    margin-top: 90px;
    display: flex;
    justify-content: space-around;

}
.center-8-4-1 p{
    font-size: 15px;
    margin-top: 20px;
    color: rgb(117,118,121);
}
.center-9 {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}
.center-9-1{
    height: 16px;
    width: 105px;
    border-style: none;
    background-color: aliceblue;
}
.center-9-1-e{
    height: 16px;
    width: 105px;
    border-style: none;
    background-color: aliceblue;
}
.center-9-2{
    justify-content: space-around;
    margin-left: 10px;
    margin-right: 10px;
    color: rgb(117,118,121);
    font-size: 15px;
}
.center-9-3{
    margin-right: 20px;
    
}
.center-9-3 img {
    margin-right: 10px;
}
/*---------------------------------*/
/*---------------------------------*/
/*---------------------------------*/
.right-1{
    display: flex;
}
.right-1-1{
    margin-right: 22px;
    margin-left: -5px;
    margin-top: 27px;
}
